
#nav {
    background-color: rgb(230, 201, 228);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
body{
   background-color: rgb(209, 158, 204);
}
.benner img{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}



#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}