
#nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.main{
    color: darkgrey;
    align-items: center;
}
.w-50{
    width: 50%;
}
.align-items-center{
    align-items: center;
}
body{
   background-color: rgb(255, 255, 255);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.banner img{
    height: 50%;
    width: 100%;
}

#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}



#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}