
#nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.main{
    color: rgb(176, 160, 160);
    align-items: center;
    font-size: 50px;
    text-align: center;
    margin-right: 90px;
}
.btn{
   margin-left: 40%;
   border-radius: 5px;
   padding: 5px;
   color: black;
   background-color: rgb(147, 142, 142);
   color: rgb(100, 90, 90);
   padding: 8px;
}
p {
    color: rgb(147, 142, 142);
    font-size: 20px;
    margin-left: 90px;
    word-spacing: 1.5px;
}
.w-50{
    width: 50%;
}
.align-items-center{
    align-items: center;
}
body{
   background-color: rgb(255, 255, 255);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.banner img{
    height: 50%;
    width: 100%;
}

#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}




