#nav{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
p {
    color: #938E8E;
    font-size: 20px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
#nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
}
form input {
    display: block;
    margin: 20px;
    padding: 10px 10px;
    width: 80%;
    border-radius: 5px;
   border-color: rgb(138, 127, 127) ;
}

#form {
    border: 2px solid rgb(158, 157, 157);
    width: 100%;
    padding: 30px 15px;
    border-radius: 12px;
    display: flex;
}
#form-box {
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    padding-top: 10%;
    margin: -80px;
}
img {
    padding: 30px;
}
#submit{
 background-color: rgb(218 203 203);
    padding: 5px 5px;
    border-radius: 5px;
    width: 50%;
}
#htext {
    font-size: 30px;
    font-weight: 600;
    color: rgb(149, 152, 147);
    text-align: center;
    margin-left: -540px;
}