#nav{
    background-color:rgb(114, 97, 110);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
#nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
}
form input {
    display: block;
    margin: 20px;
    padding: 10px 10px;
    width: 80%;
    border-radius: 5px;
   border-color: rgb(138, 127, 127) ;
}

#form{
    border: 2px solid rgb(0, 0, 0); 
    width: 100%; 
    padding: 30px 30px;
    border-radius: 12px;
}

#form-box{
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    padding-top: 10%;
}

#submit{
    border: 0.5px solid rgb(133, 70, 143); 
    background-color: rgb(138, 127, 127);
    padding: 5px 5px;
    border-radius: 5px;
    width: 50%;
}

#htext{
    font-size: 30px;
    font-weight: 600;
    color: rgb(149, 152, 147);
    text-align: center;
}