#parent-div {
    display: flex;
    ;
}
#nav{
    background-color:rgb(114, 97, 110);
    display: flex;
    justify-content: space-around;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
#category {
    border: 1px solid black;
    width: 20%;
    height: 100vh;
}

#products {
    overflow: auto;
    border: 1px solid black;
    width: 80%;
    height: 100vh;
    display: grid;
    padding: px 0px;
    grid-template-columns: repeat(2, 1fr);
}
#products div{
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
}

img {
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    
    font-weight: 400;
   
}

h3 {
    font-size: 27px;
    font-weight: 400;
}

button {
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    border-radius: 8px;
}