#nav{
    color: rgb(184, 54, 54);
    background-color:white;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}


#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

form input {
    display: block;
    margin: 20px;
    padding: 10px 10px;
    width: 80%;
    background-color: white;
}

body{
    margin: 0;
    padding: 0; 
}
.w-50 img{
    height: 400px;
    width: 400px;
}
#form {
    border: 2px solid rgb(158, 157, 157);
    width: 100%;
    display: flex;
    padding: 30px;
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}
#form-box {
    justify-content: center;
    /* align-items: center; */
    display: flex;
    align-content: center;
    /* padding-top: 10%; */
    background-color: rgb(255, 255, 255);
}
#submit {
    border: 0.5px solid rgb(122, 115, 115);
    background-color: white;
    background-color: rgb(218 203 203);
    padding: 5px 5px;
    border-radius: 5px;
    width: 50%;
}
#htext{
    font-size: 30px;
    font-weight: 600;
    color: rgb(149, 152, 147);
    text-align: center;
}